.jfx-text-field, .jfx-password-field {
	-fx-font-size: 14px;
	-fx-unfocus-color: #000;
	-fx-pref-width: 200px;
	-fx-max-width: 200px;
}

.btn {
	-fx-padding: 10px 20px;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
	-fx-cursor: hand;
}

.btn_sucesso {
	-fx-background-color: #FF9800;
}

.btn_sucesso:hover {
	-fx-text-fill: #fff;
	-fx-background-color: #F57C00;
}

.btn_erro {
	-fx-background-color: #F44336;
}

.btn_erro:hover {
	-fx-background-color: #D32F2F;
}

.btn_menu {
	-fx-background-color: #424242;
}

.btn_ativo {
	-fx-background-color: #ffffff;
	-fx-text-fill: #009688;
}

.btn_ativo:hover {
	-fx-background-color: #ffffff;
}

.lbl_titulo {
	-fx-text-fill: #424242;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

.jfx-snackbar-content {
	-fx-background-color: #333333;
  	-fx-background-radius: 6px 6px 0px 0px;
}

.jfx-snackbar-toast {
	-fx-text-fill: #ffffff;	
}

.jfx-drawer StackPane {
	-fx-background-color: #424242;
}

.jfx-decorator {
	-fx-decorator-color: #424242;
}
.jfx-decorator .jfx-decorator-buttons-container {
	-fx-background-color: -fx-decorator-color;
}
.jfx-decorator .resize-border {
	-fx-border-color: -fx-decorator-color;
	-fx-border-width: 0 4 4 4;
}

.jfx-popup {
	-fx-cursor: hand;
}